<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
  </head>
  <div
    class="bg-image"
  >
    <div
      class="Container d-flex justify-content-center"
      style="padding-top: 9rem"
    >
      <div class="row row-cols-2">
        <div class="col-7 align-self-start">
          <img class="images" src="assets/img/background.png" style="height: 525px;"/>
        </div>
        <div
          class="col-5 text-white justify-content-center"
          style="
            word-wrap: break-word;
            padding-left: 10px;
  
            font-family: 'Radio Canada', sans-serif;
          "
        >
          <h1 class="text">¿Estas preparado para el juego de cartas?</h1>
          <h4>La batalla apenas comienza....</h4>
          <h5> Dato curioso: Si bien es difícil dar un número definitivo, estimamos que hay un total de 13,255 cartas Pokémon lanzados en inglés</h5>
        </div>
      </div>
    </div>
  </div>
  